<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:generator="http://www.think.org/schema/generator"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
              http://www.think.org/schema/generator
               http://www.think.org/schema/generator/think-generator.xsd"
	   default-lazy-init="true">
	<description>
		#代码生成器配置文件:
		#1.自动移除generator前缀
		#2.可以引用环境变量:System.getEnv(): ${env.JAVA_HOME} or System.getProperties(): ${user.home}
		#2.会为所有的property生成property_path属性,如pkg=org.think => pkg_path=org/think
	</description>
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" lazy-init="true">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.129.248.10:55100/enterprise_new_1?characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="123qwe!@#" />
		<property name="connectProperties">
			<props>
				<prop key="useInformationSchema">true</prop>
			</props>
		</property>
	</bean>
	<generator:generator id="generator">
		<!-- 框架包的名称 -->
		<generator:frameName>com.glodon.bim5d</generator:frameName>
		<!--#公司名称-->
		<generator:companyName>com.glodon.bim5d</generator:companyName>
		<!--#应用名称-->
		<generator:appName>app</generator:appName>
		<!--#模块名称-->
		<!--<generator:moduleName>auth</generator:moduleName>-->
		<!--<generator:moduleName>param</generator:moduleName>-->
		<generator:moduleName>costenterprise</generator:moduleName>
		<!--#作者名称-->
		<generator:authorName>lixiaobin</generator:authorName>
		<!--#jsp namespace: web/${namespace}/${className}/list:jsp-->
		<generator:namespace>views</generator:namespace>
		<!--#模板目录-->
		<generator:template>template/sql</generator:template>
		<!--<generator:template>template/glodon</generator:template>-->
		<!--<generator:template>template/ant-design</generator:template>-->
		<!--<generator:template>template/bak</generator:template>-->
		<!--#过滤文件-->
		<generator:extensions>java,js,jsp,xml,ts,html,json,sql</generator:extensions>
		<generator:converts>
			<!--<generator:map>-->
			<!--<generator:entity key="java.sql.Types.DATE" value="java.time.LocalDate"/>-->
			<!--<generator:entity key="java.sql.Types.TIMESTAMP" value="java.time.Instant"/>-->
			<!--</generator:map>-->
			<!--<generator:props>-->
			<!--<generator:prop key="java.sql.Types.DATE">java.time.LocalDate</generator:prop>-->
			<!--<generator:prop key="java.sql.Types.TIMESTAMP">java.time.Instant</generator:prop>-->
			<!--</generator:props>-->
		</generator:converts>
		<!--#需要移除的表名前缀,使用逗号进行分隔多个前缀,示例值: t_,tm_-->
		<generator:prefixs>
			<generator:list>
				<generator:value>T_</generator:value>
				<generator:value>RBAC_</generator:value>
				<generator:value>PARAM_</generator:value>
				<generator:value>AUTH_</generator:value>
				<generator:value>PROJECT_</generator:value>
			</generator:list>
		</generator:prefixs>
		<!--#需要移除的表名前缀,使用逗号进行分隔多个前缀,示例值: t_,tm_-->
		<generator:ignores>
			<generator:list>
				<generator:value>sys_create_time</generator:value>
				<generator:value>sys_modified_time</generator:value>
				<generator:value>sys_revision</generator:value>
				<generator:value>sys_creator_id</generator:value>
				<generator:value>sys_modifier_id</generator:value>
			</generator:list>
		</generator:ignores>
		<!--#输出目录-->
		<generator:output>generator_output</generator:output>
	</generator:generator>
</beans>
