<?xml version="1.0" encoding="UTF-8"?>
<embedded-database xmlns="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd"
                   id="dataSource" type="H2">

        <script location="schema-h2.sql"></script>

</embedded-database>
