<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:generator="http://thinkframework.github.io/schema/generator"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://thinkframework.github.io/schema/generator
           http://thinkframework.github.io/schema/generator/think-generator.xsd">
    <generator:generator id="generator">
        <generator:strategy>
            <generator:clazz>io.github.thinkframework.generator.core.design.strategy.impl.GeneratorTable</generator:clazz>
            <generator:responsibilitys>
                <generator:list>
                    <generator:value>io.github.thinkframework.generator.core.design.chainofresponsibility.ConfigurationGeneratorResponsibility</generator:value>
                    <generator:value>io.github.thinkframework.generator.core.design.chainofresponsibility.TableGeneratorResponsibility</generator:value>
                </generator:list>
            </generator:responsibilitys>
        </generator:strategy>
        <generator:configuration>
            <!-- 框架包的名称 -->
            <generator:frameName>com.glodon.bim5d</generator:frameName>
            <!--#公司名称-->
            <generator:companyName>com.glodon.bim5d</generator:companyName>
            <!--#应用名称-->
            <generator:appName>app</generator:appName>
            <!--#模块名称-->
            <!--<generator:moduleName>auth</generator:moduleName>-->
            <!--<generator:moduleName>param</generator:moduleName>-->
            <!--            <generator:moduleName>costenterprise</generator:moduleName>-->
            <generator:moduleName>costproject</generator:moduleName>
            <!--#作者名称-->
            <!--<generator:authorName>lixiaobin</generator:authorName>-->
            <generator:authorName>unascribed</generator:authorName>
            <!--#jsp namespace: web/${namespace}/${className}/get:jsp-->
            <generator:namespace>views</generator:namespace>
            <!--#模板目录-->
            <!--            <generator:template>template/glodon/enterprise</generator:template>-->
            <!--            <generator:template>template/glodon/project</generator:template>-->
            <generator:template>template/test</generator:template>
            <!--#过滤文件-->
            <generator:extensions>
                <generator:list>
                    <generator:value>java</generator:value>
                    <generator:value>js</generator:value>
                    <generator:value>jsp</generator:value>
                    <generator:value>xml</generator:value>
                    <generator:value>ts</generator:value>
                    <generator:value>html</generator:value>
                    <generator:value>json</generator:value>
                    <generator:value>sql</generator:value>
                </generator:list>
            </generator:extensions>
            <generator:converts>
                <generator:map>
                    <generator:entity key="java.sql.Types.BIGINT" value="java.math.BigInteger"/>
                    <!--                    <generator:entity key="java.sql.Types.DATE" value="java.time.LocalDate"/>-->
                    <!--                    <generator:entity key="java.sql.Types.TIMESTAMP" value="java.time.Instant"/>-->
                </generator:map>
                <!--<generator:props>-->
                <!--<generator:prop key="java.sql.Types.DATE">java.time.LocalDate</generator:prop>-->
                <!--<generator:prop key="java.sql.Types.TIMESTAMP">java.time.Instant</generator:prop>-->
                <!--</generator:props>-->
            </generator:converts>
            <!--#需要移除的表名前缀,使用逗号进行分隔多个前缀,示例值: t_,tm_-->
            <generator:prefixs>
                <generator:list>
                    <generator:value>T_</generator:value>
                    <generator:value>RBAC_</generator:value>
                    <generator:value>PARAM_</generator:value>
                    <generator:value>AUTH_</generator:value>
                    <generator:value>PROJECT_</generator:value>
                    <generator:value>bim5d_cost_</generator:value>
                </generator:list>
            </generator:prefixs>
            <!--#需要移除的表名前缀,使用逗号进行分隔多个前缀,示例值: t_,tm_-->
            <generator:ignores>
                <generator:list>
                    <generator:value>sys_create_time</generator:value>
                    <generator:value>sys_modified_time</generator:value>
                    <generator:value>sys_revision</generator:value>
                    <generator:value>sys_creator_id</generator:value>
                    <generator:value>sys_modifier_id</generator:value>
                </generator:list>
            </generator:ignores>
            <!--#输出目录-->
            <generator:output>generator_output</generator:output>
            <!--#主键生成规则-->
            <!--<generator:generatorId>true</generator:generatorId>-->
            <!--#ID生成策略:NONE:不做处理,用字段名,ID:转换成ID-->
            <!--<generator:generatorIdStrategy>NONE</generator:generatorIdStrategy>-->
            <!--#JDBC对catalog和schema属性的获取支持不够-->
            <!--<generator:catalog></generator:catalog>-->
            <!--<generator:schema>THINK</generator:schema>-->
        </generator:configuration>
    </generator:generator>
</beans>
