<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-lazy-init="true">
    <description>
        applicationContext-jdbc.xml包含数据源的配置,并支持初始化脚本
        applicationContext-generator.xml包含生成器的配置
        不需要初始化脚本的话可以直接在此配置数据源
    </description>
    <context:component-scan base-package="io.github.thinkframework.generator" />
    <import resource="classpath*:applicationContext-jdbc.xml" />
    <import resource="classpath*:applicationContext-generator.xml" />
</beans>
